@font-face{
    src: url(Gemosh.ttf);
    font-family: 'Gemosh';
}
/* :root{
    --viola: #323232;
    --bordeaux: #000000;
    --rosso: #FF1E56;
    --arancione: #FFAC41;
    --giallo: #FFAC41;
    --marginTopDescrMainFDG: 3%;
} */
:root{
    --viola: #390099;
    --bordeaux: #9e0059;
    --rosso: #ff0054;
    --arancione: #ff5400;
    --giallo: #ffbd00;
    --marginTopDescrMainFDG: 3%;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: none;
    font-family: sans-serif;
    scroll-behavior: smooth;
}
*:focus{
    outline: none;
}
.bottone{
    color: white;
    border-radius: 10px;
    cursor: pointer;
    transition: all .2s linear;
    border: none;
    font-size: 17.5px;
    padding: 10px 17.5px;
}
.bottone:hover{
    box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.5); 
    transform: scale(1.075);
}
body{
    background: rgb(255,189,0);
    background: radial-gradient(circle, rgba(255,189,0,1) 0%, rgba(57,0,153,1) 70%);
    display: flex;
    justify-content: center;
    flex-direction: column;
}
nav{
    width: 100%;
    height: 7vh;
    background-color: var(--giallo);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    position: sticky;
    top: 0px;
    z-index: 3;
    transition: all .2s ease;
}
#navTitle{
    position: absolute;
    left: 2vw;
    padding-top: 7px;
}
.title{
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: var(--viola);
    text-transform: uppercase;
    font-size: 45px;
}
.title a{
    font-family: inherit;
    font-size: inherit;
    text-decoration: none;
    cursor: pointer;
    transition: all .2s linear;
}
.title a:hover{
    color: #ff0054;
}
#opzNav{
    display: flex;
    list-style-type: none;
    gap: 4vw;
    font-size: 23px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#opzNav li a{
    color: var(--bordeaux);
    text-decoration: none;
    position: relative;
    display: flex;
    font-weight: bold;
    cursor: pointer;
}
#opzNav li a::after{
    content: "";
    width: 0%;
    height: 3px;
    background-color: var(--bordeaux);
    position: absolute;
    top: 26.5px;
    transition: all .5s cubic-bezier(.215, .61, .355, 1);
}
#opzNav li a:hover::after{
    width: 100%;
}
#opzNav li .opzNavFocus::after{
    width: 100%;
}
.btnAccedi{
    position: absolute;
    right: 2vw;
    background-color: var(--bordeaux);
}
.btnAccedi a{
    color: inherit;
    text-decoration: none;
}
.btnAccedi a:visited{
    color: white;
    text-decoration: none;
}

/* MAIN */

main{
    display: flex;
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 100px;
    background-color: var(--viola);
}
.leftSide{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    text-align: center;
}
.leftSide h1{
    color: var(--giallo);
    font-size: 130px;
    text-transform: uppercase;
    font-family: "Bebas Neue", sans-serif;
    letter-spacing: 9px;
    margin-bottom: -30px;
}
.leftSide h2{
    color: var(--giallo);
    font-size: 50px;
}
.leftSide p{
    color: var(--viola);
    background-color: var(--giallo);
    padding: 25px;
    width: 70%;
    text-align: justify;
}
.contSocialMain{
    display: flex;
    justify-content: center;
    align-items: center;
}
.socialMain{
    list-style-type: none;
    display: flex;
    gap: 25px;
    
}
.socialMain li a img{
    height: 40px;
}
.rightSide{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
}
.layerBordo{
    height: 100%;
    width: 100%;
    position: absolute;
    border: 3px solid var(--giallo);
    border-left: none;
    top: 0;
    right: 0;
    z-index: -1;
    animation: keyLayer 1s 1 ease-in-out;
}           
@keyframes keyLayer{
    0%{
        width: 0%;
    }
    100%{
        width: 100%;
    }
}
form{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
form input, textarea{
    width: 20.5vw;
    color: var(--viola);
}
form input{
    padding: 10px 17px;
}
textarea{
    padding: 15px 17px;
}
.contTermini{
    display: flex;
    align-items: center;
}
.contTermini input{
    padding: none;
    width: min-content;
    margin: 0px 10px 0px 5px;
}
.contTermini label{
    color: var(--giallo);
}
.contTermini label a{
    color: var(--arancione);
}
.contSubmit{
    display: flex;
    justify-content: center;
    align-items: center;
}
.btnInvia{
    width: min-content;
    background-color: var(--rosso);
}
footer{
    border-top: solid 3px var(--giallo);
}