footer{
    background-color: var(--viola);
    padding: 30px;
    color: var(--giallo);
}
#footTitle{
    color: inherit;
}
#intLinkFoot{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 15%;
    list-style-type: none;
    gap: 20px;
    margin-top: 20px;
}
#intLinkFoot a{
    color: inherit;
    text-decoration: none;
}
#socialFoot{
    list-style-type: none;
    display: flex;
    gap: 20px;
    margin-top: 30px;
}
#socialFoot li a img{
    height: 30px;
}
.linea{
    width: 100%;
    border: 1.5px solid var(--giallo);
    margin-top: 30px;
}
#extLinkFoot{
    display: flex;
    color: var(--giallo);
    gap: 20px;
    margin-top: 20px;
}
#extLinkFoot a{
    color: inherit;
    margin: 0px 20px 0px 0px;
    text-decoration: none;
    width: fit-content;
}
#copyright{
    margin-top: 20px;
    color: var(--giallo);
}